name: CI/CD Pipeline

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'


      - name: Install dependencies
        run: npm install

      - name: Install clean dependencies
        run: npm ci

      - name: Install PG dependencies
        run: npm install pg --save
          
      - name: Build website
        run: NODE_ENV=production npm run build
        env:
          CI: true

      - name: Deploy via SSH (pm2)
        uses: appleboy/ssh-action@v1.0.3
        with:
            host: ${{ secrets.SERVER_HOST }}
            username: ${{ secrets.SERVER_USER }}
            password: ${{ secrets.SSH_PASSWORD }} 
            script: |
              set -e
              cd /www/wwwroot/strapi.annk.info
              
              # restart
              /root/.nvm/versions/node/v18.18.2/bin/pm2 restart strapi || /root/.nvm/versions/node/v18.18.2/bin/pm2 start "npm run start" --name strapi --cwd /www/wwwroot/strapi.annk.info
              /root/.nvm/versions/node/v18.18.2/bin/pm2 save

              # smoke test
              curl -sI http://127.0.0.1:1337/admin | head -n1 || true
